@tailwind base;
@tailwind components;
@tailwind utilities;
.Image{
     background-image: url('../public/Img/download.jpeg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
    height: 600px;

}